p{
    margin: 0;
}
.solidityEditor{
    padding-block: 16px;
    border-radius: 0.75rem;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #1c1c1c;
    position: relative;
}
.operation{
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 0.25rem;
    overflow: hidden;
    display: inline-flex;
    button{
        padding-inline: 12px;
        width: auto;
        height: 30px;
        border: none;
        border-radius: 0;
        color: #fff;
        font-weight: 800;
    }
    .btn{
        &:nth-child(1){
            background-color: #3e4451;
        }
        &:nth-child(2){
            background-color: #0080FF;
        }
    }
    ul{
        margin: 0;
        padding: 15px;
        min-width: 225px;
        position: absolute;
        right: 50px;
        top: 20px;
        background-color: #3a4454;
        list-style: none;
        border-radius: 0.25rem;
    }
    li{
        margin-bottom: 15px;
        border-radius: 0.25rem;
        overflow: hidden;
    }
    .btns{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        button{
            width: calc(100%);
            padding-inline: 25px;
            border-radius: 0;
            background-color: #0080FF;
            color: #fff;
            border: none;
        }
        .icon{
            width: 100%;
            height: 30px;
            padding-inline: 5px;
            font-size: 15px;
            color: #fff;
            text-align: right;
            cursor: pointer;
            line-height: 32px;
            position: absolute;
        }
        .select{
            transform: rotate(180deg);
            text-align: left;
        }
    }
    .inner{
        width: 100%;
        padding: 10px;
        background-color: #fff;
        .ant-form-item{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .title{
        width: 100%;
        color: #fff;
        font-weight: 600;
        text-align: center;
        position: relative;
        .close{
            position: absolute;
            right: 0;
            top: 0;
            color: #fff;
            cursor: pointer;
        }
        p{
            margin-bottom: 5px;
            &:last-child{
                margin: 0;
            }
        }
    }
    .title .close{
        transform: rotate(180deg);
    }
    .hide{
        height: 75px;
        overflow: hidden;
        .title .close{
            transform: rotate(0deg);
        }
    }
}

.console{
    margin-top: 25px;
    margin-inline: 25px;
    padding: 16px;
    max-height: 160px;
    overflow-y: scroll;
    background-color: #020b11;
    box-shadow: inset 0 0 10px #000;
    color: #fff;
    p{
        font-size: 13px;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}